<!DOCTYPE html>
<html>
    <head>
        <h1>Buster's Best Bowling Alley</h1>
    </head>

    <body>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <h1>Hours</h1>
        <p>We are are opened from X to Y.</p>
        <h1>Dates of Tournaments</h1>
        <p>Our tournaments are on these dates.</p>
        <h1>Bowling Alley Bar Menus</h1>
        <p>Here are the menus to our bar(s).</p>
        <h1>Reservations</h1>
        <p>Coming soon...</p>
        <h2>Our Address</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>

</html>